# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Ansible
*.retry
*.log
.vault_pass.txt
*.env

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

